.container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}



.content {
    flex: 1;
   display: flex;
   flex-direction: column;
   gap: 20px;
   justify-content: center;
}

.title {
   margin-bottom: 10px;
}

.desc {
font-size: 18px;
color: #999;

}

.imgContainer {
   
}

.image {
    object-fit: cover;
}